
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
 integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylelogin.css') }}">
  <body>
    {% if mensaje %}
    <div class="alert alert-danger" role="alert">
      <ul>
        <li>{{ mensaje }}</li>
      </ul>
    </div>
    {% endif %}
     <div class="container">
        <div class="row text-center login-page">
       <div class="col-md-12 login-form">
          <form action="{{ url_for('login') }}" method="post">            
             <div class="row">
            <div class="col-md-12 login-form-header">
               <p class="login-form-font-header"><span>Login</span><p>
            </div>
        </div>
        <div class="row">
           <div class="col-md-12 login-from-row">
              <input name="usuario" type="text" placeholder="Usuario" required/>
           </div>
        </div>
        <div class="row">
           <div class="col-md-12 login-from-row">
              <input name="clave" type="password" placeholder="Contraseña" required/>
           </div>
        </div>
        <div class="row">
           <div class="col-md-12 login-from-row">
              <button class="btn btn-info">Entrar</button>
           </div>
        </div>
        </form>
    </div>
     </div>
  </div>
</body>
</html>