{% extends "layout.html" %}
{% block content %}
{% if mensaje_error %}
<div class="alert alert-warning" role="alert">
    <p> ⚠️ {{ mensaje_error }}</p>
</div>
{% endif %}
{% if mensaje_exito %}
<div class="alert alert-success" role="alert">
    <p>{{ mensaje_exito }}</p>
</div>
{% endif %}
<h1>Nuevo Usuario</h1>

<div class="container card-body">
    <span class="card-text">
        <form action="" method="POST">
            <section class="form-group">
                <label for="titulo"> Usuario </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="usuario" id="usuario" placeholder="Ingrese el nombre usuario" required>
            </section>

            <section class="form-group">
                <label for="contenido"> Clave </label>
                <input type="password" class="form-control form-control-lg rounded-0" name="clave" id="clave" placeholder="Ingrese una clave" required>
            </section>

            <section class="form-group">
                <label for="contenido"> Confirmar clave </label>
                <input type="password" class="form-control form-control-lg rounded-0" name="clave" id="clave_2" oninput="check(this)" placeholder="Confirme la clave" required>
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('clave').value) {
                            input.setCustomValidity('La clave ingresada no coincide');
                        } else {
                            input.setCustomValidity('');
                        }
                    }
                </script>
            </section>   

            <section class="form-group">
                <label for="titulo"> Nombre </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="nombre" id="nombre" placeholder="Ingrese el nombre" required>
            </section>

            <section class="form-group">
                <label for="titulo"> Apellido </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="apellido" id="apellido" placeholder="Ingrese el apellido"
                required>
            </section>
            <section class="form-group">
                <label for="titulo"> Email </label>
                <input type="email" class="form-control form-control-lg rounded-0" name="email" id="email" placeholder="Ingrese el correo" required>
            </section>

            <div class="text-right">
                <a href="{{ url_for('index_usuario') }}" class="btn btn-white">Cancelar</a>
                <button type="submit" class="btn btn-info">Aceptar</button>
            </div>
        </form>
    </span>
</div>
{% endblock %}