{% extends "layout.html" %}
{% block content %}
<div class="container">
	{% if mensaje %}
	<div class="alert alert-success" role="alert">
		<ul>
			<li>{{ mensaje }}</li>
		</ul>
	</div>
	{% endif %} 
  </div>
<h2 class="text-center">Usuarios</h2>

<div class="container">
	<!-- Traer los campos a filtrar, para mostrarlos en el select-->
	<!-- implementar el evento seleccionarCampo-->
	<!-- implementar el evento en botón buscar -->
	<form name="usu" id="usu" action="" method="POST">
        <div class="form-inline">
			<label for="nombre">Nombre:</label>
			<input type="text" placeholder="Buscar por nombre" id="nombre" name="nombre">
            <label for="usuarios">Estado:</label><br>
            <select class="form-control" name="estado" id="estado">
				<option value="todos">Todos</option>
				<option value="1">Activo</option>
				<option value="0">Inactivo</option>
            </select><br>
            <input name="best" id="sec" class="btn btn-info" type="submit" value="Buscar">
		</div>
  </form>
  <br>

	<div class="text-right">
		<a href="{{ url_for('crear_usuario')}}" class="btn btn-info mb-2">Nuevo usuario <!-- span alt="Nuevo usuario" title="Agregar usuario" class="fas fa-user-plus"></span--></a>
	</div>
<table class="table table-striped table-bordered bg-white table-sm" >
<thead>
	<tr>
		<td>Usuario</td>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>Email</td>
		<td>Activo</td>
		<td>Operaciones</td>
	</tr>
</thead>
<tbody>
	<div class="container">
	{% for u in usuario.items %}
		<tr>
	     	<td> {{ u.usuario }} </td>
	     	<td> {{ u.nombre }} </td>
	     	<td> {{ u.apellido }} </td>
			<td> {{ u.email }} </td>
			<td>
				{% if (u.activo == 1) %}
				<p>Si</p>
			    {% else %}
				<p>No</p>
			    {%  endif  %}
			</td>
            <td> 
            	{% if u.usuario != session['usuario'].usuario %}
            	<a href="{{ url_for('edit_usuario', id=u.id)}}" class="btn btn-info"><!-- span alt="Editar usuario" title="Editar usuario" class="fas fa-user-edit"></span-->Editar usuario</a>
				{% if u.activo == 0 %}
				<a href="{{ url_for('activar', id=u.id)}}" class="btn btn-info"><!--span alt="Activar" title="Activar usuario" class="fas fa-user-check"></span-->Activar</a>
				{% else %}
				<a href="{{ url_for('desactivar', id=u.id)}}" class="btn btn-success">Desactivar</a>
				{% endif %}
				<a href="{{ url_for('borrar_usuario', id=u.id)}}" class="btn btn-danger" title="Eliminar Usuario" onclick="return confirm('¿Estás seguro de que deseas eliminar el usuario?')">Eliminar Usuario</a>
				<!-- span alt="Desactivar" title="Desactivar usuario" class="fas fa-user-lock"></span-->	<!--span alt="Eliminar" title="Eliminar usuario" class="fas fa-user-slash"></span-->
				{% endif %}
            </td>
 		</tr>
	{% endfor %}
    </div>
</tbody>
</table>
<!-- PAGINACION -->
<div class="text-center">
	<ul class="pagination">
		{% if usuario.has_prev %}
			<li class="page-item">
 				<a class="page-link" href="{{ url_for('index_usuario', page=usuario.prev_num, nombre=nombre, estado=estado) }}">«</a>
			</li>
		{% else %}
			<li class="page-item disabled">
				<a class="page-link">«</a>
			</li>
		{% endif %}
		<!-- all page numbers -->
		{% for page_num in usuario.iter_pages() %}
			{% if page_num %}
				{% if page_num != usuario.page %}
					<li class="page-item">
						<a class="page-link" href="{{ url_for('index_usuario', nombre=nombre, estado=estado, page=page_num) }}">{{ page_num }}</a>
					</li>
				{% else %}
				<li class="page-item active">
					<a class="page-link" href="#">{{ page_num }}</a>
				</li>
			{% endif %}
			{% else %}
				<li class="page-item">
					<span class="page-link ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
				</li>
			{% endif %}
		{% endfor %}
		<!-- next page -->
		{% if usuario.has_next %}
			<li class="page-item">
				<a class="page-link" href="{{ url_for('index_usuario', page=usuario.next_num, nombre=nombre, estado=estado) }}">»</a>
			</li>
		{% else %}
			<li class="page-item disabled">
				<a class="page-link">»</a>
			</li>
		{% endif %}
	</ul>
</div>
	
<!-- FIN PAGINACION -->
</div>

{% endblock %}