{% extends "layout.html" %}
{% block content %}
<h1>Configuracion</h1>
{% if mensaje %}
<div class="alert alert-success" role="alert">
	<ul>
		<li>{{ mensaje }}</li>
	</ul>
</div>
{% endif %}
<div class="card-body container">
    <span class="card-text">
        {% for act in actual %}
        <form method="POST">
            <section class="form-group">
                <label for="titulo"> Título </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="titulo" id="titulo"
                    value="{{act.titulo}}" required>
            </section>

            <section class="form-group">
                <label for="contenido"> Descripcion </label>
                <textarea class="form-control form-control-lg rounded-0" name="descripcion" id="descripcion"
                    required>{{act.descripcion}}</textarea> 
            </section>

            <section class="form-group">
                <label for="titulo"> Mail </label>
                <input type="email" class="form-control form-control-lg rounded-0" name="mail" id="mail"
                    value="{{act.mail}}" required>
            </section>

            <section class="form-group">
                <label for="estado">Estado del sitio</label>
                <select id="activo" name="activo" class="custom-select ">
                {% if (act.activo == 1) %}
                    <option value=1>Habilitado</option>
                    <option value=0>Deshabilitado</option>
                {% else %}
                    <option value=0>Deshabilitado</option>
                    <option value=1>Habilitado</option>
                {%  endif  %}
                </select>
            </section>

            <section class="form-group">
                <label for="titulo"> Elementos mostrados por página </label>
                <input type="number" min="1" class="form-control form-control-lg rounded-0" name="cantPagina" id="cantPagina"
                    value="{{act.cantPagina}}" required>
            </section>

            <div class="text-right">
                <a href="{{ url_for('index') }}" class="btn btn-white">Cancelar</a>
                <button type="submit" class="btn btn-info">Aceptar</button>
            </div>
        </form>
        {% endfor %}
    </span>
</div>
{% endblock %}