<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Nuevo Usuario</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <form method="POST" action="{{url_for('crear_usuario')}}">
      <div class="row">
        
        <div class="col">     
          <p>Nombre:</p>
          <input id="nombre" class="form-control form-control-sm" name="nombre" type="text" required>
        </div>
        <div class="col">
          <p>Apellido:</p>
          <input id="apellido" class="form-control form-control-sm" name="apellido" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p>Nombre de usuario:</p>
            <input id="user" class="form-control form-control-sm" name="user" type="text" required>
        </div>
        <div class="col">
            <p>Email:</p>
            <input id="email" class="form-control form-control-sm" name="email" type="email" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <p>Contraseña:</p>
            <input name="password" class="form-control form-control-sm" style="margin-bottom: 15px;" type="password" required>
        </div>
      </div>

      <div>
        <input type="submit" class="btn btn-info" value="Aceptar">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div>