{% extends "layout.html" %}
{% block content %}

{% if mensaje %}
<div class="alert alert-danger" role="alert">
    <p>{{ mensaje }}</p>
</div>
{% endif %}
<h1>Registrar Turno</h1>

<div class="container card-body">
    <span class="card-text">
        <form action="{{url_for('crear_turno')}}" method="POST">

            <!-- Mostrar centro -->
            <p> {{ centro.nombre }} </p><br>

            <!-- Mostrar fecha -->
            <p> {{ fecha }} </p><br>

            <!-- Fecha (mayor a la actual) -->
            <section class="form-group">
                <label for="fecha"> Fecha </label>
                <input type="date" class="form-control form-control-lg rounded-0" name="fecha" id="fecha"
                    value="{{fecha}}" required>
            </section>

            <!-- Bloque horario 
            <section class="form-group">
                <label>Bloque horario:</label>
                <select name="horario" id="hora_ini">
                    <option value="10:00">09:00 - 09:30</option>
                    <option value="09:30">09:30 - 10:00</option>
                    <option value="10:00">10:00 - 10:30</option>
                    <option value="10:30">10:30 - 11:00</option>
                    <option value="11:00">11:00 - 11:30</option>
                    <option value="11:30">11:30 - 12:00</option>
                    <option value="12:00">12:00 - 12:30</option>
                    <option value="12:30">12:30 - 13:00</option>
                    <option value="13:00">13:00 - 13:30</option>
                    <option value="13:30">13:30 - 14:00</option>
                    <option value="14:00">14:00 - 14:30</option>
                    <option value="14:30">14:30 - 15:00</option>
                    <option value="15:00">15:00 - 15:30</option>
                    <option value="15:30">15:30 - 16:00</option>
                </select>
            </section>
            -->


        </form>
    </span>
</div>
{% endblock %}