{% extends "layout.html" %}
{% block content %}
{% if mensaje_error %}
<div class="alert alert-warning" role="alert">
    <p> ⚠️ {{ mensaje_error }}</p>
</div>
{% endif %}
{% if mensaje_exito %}
<div class="alert alert-success" role="alert">
    <p>{{ mensaje_exito }}</p>
</div>
{% endif %}
<!-- script src="{{ url_for('static', filename='js/leaflet.js')}}"></script-->
<h1>Nuevo Centro de Ayuda</h1>



<div class="container card-body">
    <span class="card-text">
        <form action="" method="POST" onsubmit="submitHandler(event)" enctype = "multipart/form-data">


            <section class="form-group">
                <label for="contenido"> Selecciones un municipio: </label>
                <!-- Deberia poder seleccionar uno de los que vienen de la API -->
                <select name="municipio" id="municipio">
                    {% for municipio in municipios %}
                    <option value="{{ municipio }}">{{ municipios[municipio|string]['name'] }}</option>
                    {% endfor %}
                </select>
            </section>


            <section class="form-group">
                <label for="nombre"> Nombre </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="nombre" id="nombre" placeholder="Ingrese el nombre" required>
            </section>

            <section class="form-group">
                <label for="telefono"> Telefono </label>
                <input type="tel" class="form-control form-control-lg rounded-0" name="telefono" id="telefono" placeholder="Ingrese el telefono" required>
                <small>Ingresar codigo de area y numero sin espacios</small>
                <small>Ej: 92211234567</small>
            </section>


            <section class="form-group">
                <label for="titulo"> Email </label>
                <input type="email" class="form-control form-control-lg rounded-0" name="email" id="email" placeholder="Ingrese el correo">
            </section>

            <section class="form-group">
                <label for="contenido"> Sitio Web </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="web" id="sitio_web" placeholder="Ingrese el sitio web">
            </section>


            <section class="form-group">
                <label for="contenido"> Dirección </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="direccion" id="direccion" placeholder="Ingrese la dirección" required>
            </section>

            <section class="form-group">
                <label for="contenido"> Protocolo de visita </label><br>
                <input type="file" id="pdf" name="pdf" accept=".pdf">
            </section>

            <!-- Leaflet -->
    <div id="map"></div>    
    <script>
      // initialize Leaflet
      var map = L.map('map').setView({lon: -57.87921667, lat: -34.88050948}, 15);

      // add the OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

      // show the scale bar on the lower left corner
      L.control.scale().addTo(map);

      // show a marker on the map
     var marker1 = L.marker({lon: -57.892863750, lat: -34.876179100}).bindPopup('EP 6').addTo(map);
     var marker2 = L.marker({lon: -57.898464200, lat: -34.883889130}).bindPopup('EP 7').addTo(map);
     var marker3 = L.marker({lon: -57.864239220, lat: -34.884399590}).bindPopup('J.I. 904').addTo(map);
     var marker4 = L.marker({lon: -57.860355380, lat: -34.881319200}).bindPopup('E.E  501').addTo(map);
     var marker5 = L.marker({lon: -57.857651710, lat: -34.881847280}).bindPopup('CIC').addTo(map);
    </script>

            <section class="form-group">
                <label for="contenido"> Coordenada x de Geolocalización </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="corx" id="corx" placeholder="La coordenada X">
                <label for="contenido"> Coordenada y de Geolocalización </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="cory" id="cory" placeholder="La coordenada Y">
            </section>


            <section class="form-group">
                <label for="contenido"> Hora de Apertura </label>
                <input type="time" class="form-control form-control-lg rounded-0" name="hora_apertura" id="hora_apertura" required>
                <label for="contenido"> Hora de Cierre </label>
                <input type="time" class="form-control form-control-lg rounded-0" name="hora_cierre" id="hora_cierre" required>
            </section>









            <section class="form-group">
                <label for="contenido"> Tipo de Centro </label><br>
                {% for tag in tipos %}
                <input type="checkbox" id="cb{{tag.id}}" name="tipos" value="{{tag.id}}">
                <span class="badge badge-info">{{tag.nombre}}</span><br>
                {% endfor %}
            </section>



            <!-- Viene publicado por defecto -->
            <!-- Viene protocolo pdf por defecto -->

            <div class="text-right">
                <a href="{{ url_for('centros') }}" class="btn btn-white">Cancelar</a>
                <button type="submit" class="btn btn-info">Aceptar</button>
            </div>
        </form>
    </span>
</div>
{% endblock %}