{% extends "layout.html" %}
{% block content %}
{% if mensaje_error %}
<div class="alert alert-warning" role="alert">
    <p> ⚠️ {{ mensaje_error }}</p>
</div>
{% endif %}
{% if mensaje_exito %}
<div class="alert alert-success" role="alert">
    <p>{{ mensaje_exito }}</p>
</div>
{% endif %}
<h1>Editar Centro de Ayuda</h1>

<div class="container card-body">
    <span class="card-text">
        <form action="" method="POST">


            <section class="form-group">
                <label for="contenido"> Selecciones un municipio: </label>
                
                
                <select name="municipio" id="municipio">
                    {% for municipio in municipios %}

                    <!-- Pongo en selected el municipio del centro -->
                    <option value="{{ municipio }}" 
                    {% if municipios[municipio|string]['id'] == centro.municipio_id %}selected{% endif %}>
                        {{ municipios[municipio|string]['name'] }}</option>
                    {% endfor %}
                </select>
            </section>


            <section class="form-group">
                <label for="nombre"> Nombre </label>
                <input type="text" class="form-control form-control-lg rounded-0" name="nombre" id="nombre" placeholder="Ingrese el nombre" value="{{ centro.nombre }}" required>
            </section>

            <section class="form-group">
                <label for="telefono"> Telefono </label>
                <input value="{{ centro.telefono }}" type="tel" class="form-control form-control-lg rounded-0" name="telefono" id="telefono" placeholder="Ingrese el telefono" required>
            </section>


            <section class="form-group">
                <label for="titulo"> Email </label>
                <input value="{{ centro.email }}" type="email" class="form-control form-control-lg rounded-0" name="email" id="email" placeholder="Ingrese el correo" >
            </section>

            <section class="form-group">
                <label for="contenido"> Sitio Web </label>
                <input value="{{ centro.sitio_web }}" type="text" class="form-control form-control-lg rounded-0" name="web" id="sitio_web" placeholder="Ingrese el sitio web" >
            </section>


            <section class="form-group">
                <label for="contenido"> Dirección </label>
                <input value="{{ centro.direccion }}" type="text" class="form-control form-control-lg rounded-0" name="direccion" id="direccion" placeholder="Ingrese la dirección" required>
            </section>

            <section class="form-group">
                <label for="contenido"> Protocolo de visita </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Selecciona un archivo PDF</label>
                  </div>
                </div>
            </section>

            <section class="form-group">
                <label for="contenido"> Coordenada x de Geolocalización </label>
                <input value="{{ centro.coordenada_x }}" type="text" class="form-control form-control-lg rounded-0" name="corx" id="corx" placeholder="La coordenada X" >
                <label for="contenido"> Coordenada y de Geolocalización </label>
                <input value="{{ centro.coordenada_y }}" type="text" class="form-control form-control-lg rounded-0" name="cory" id="cory" placeholder="La coordenada Y" >
            </section>


            <section class="form-group">
                <label for="contenido"> Hora de Apertura </label>
                <input value="{{ centro.hora_de_apertura }}" type="time" class="form-control form-control-lg rounded-0" name="hora_apertura" id="hora_apertura" required>
                <label for="contenido"> Hora de Cierre </label>
                <input value="{{ centro.hora_de_apertura }}" type="time" class="form-control form-control-lg rounded-0" name="hora_cierre" id="hora_cierre" required>
            </section>








            <!-- Deberia poner en checked los que correspondan -->
            <section class="form-group">
                <label for="contenido"> Tipo de Centro </label><br>
                {% for tag in tipos %}
                <input type="checkbox" id="cb{{tag.id}}" name="tipos" value="{{tag.id}}" 
                    {% if tag in centro.tipos_de_centro %}checked{% endif %}
                >
                <span class="badge badge-info">{{tag.nombre}}</span><br>
                {% endfor %}
            </section>



            <!-- Viene publicado por defecto -->
            <!-- Viene protocolo pdf por defecto -->

            <div class="text-right">
                <a href="{{ url_for('centros') }}" class="btn btn-white">Cancelar</a>
                <button type="submit" class="btn btn-info">Aceptar</button>
            </div>
        </form>
    </span>
</div>
{% endblock %}