{% extends "layout.html" %}
{% block content %}
{% if mensaje_error %}
<div class="alert alert-warning" role="alert">
    <p> ⚠️ {{ mensaje_error }}</p>
</div>
{% endif %}
{% if mensaje_exito %}
<div class="alert alert-success" role="alert">
    <p>{{ mensaje_exito }}</p>
</div>
{% endif %}

<h1>Centros de ayuda</h1>

<div class="container">
	<form action="" method="POST">
		<!-- input nombre  -->
		<input type="text" value="{{ request.form['nombre'] }}" placeholder="Buscar por nombre" id="nombre" name="nombre">
		<!-- select estado todos pendiente, aceptado, rechazado -->
		<label>Estado:</label>
		<select name="estado" id="estado">
			<option value="todos">Cualquier estado</option>
			{% for estado in estados %}
			<option value="{{estado.id}}">{{estado.nombre}}</option>
			{% endfor %}
		</select>
		<!-- boton de submit -->
		<input type="submit" value="Buscar">
	</form>
	<div class="text-right">
		<a href="{{ url_for('crear_centro')}}" class="btn btn-info mb-2">Nuevo centro</a>
	</div>
	<table class="table table-striped table-bordered bg-white table-sm" >
		<thead>
			<tr>
				<td>Nombre</td>
				<td>Municipio</td>
				<td>Tipo</td>
				<td>Email</td>
				<td>Estado</td>
				<td>Operaciones</td>
			</tr>
		</thead>
		<tbody>
			{% for centro in lista_de_centros.items %}
			<tr>
				<td>
					{{centro.nombre}}
				</td>
				<td>
					{{centro.municipio.nombre}}
				</td>
				<td>
					<ul>
					{% for tag in centro.tipos_de_centro %}					
						<li class="badge badge-info">{{tag.nombre}}</li>				
					{% endfor %}
					</ul>
				</td>
				<td>
					{{centro.email}}
				</td>
				<td>
					{{centro.estado.nombre}}
				</td>
				<td>
					{%if session['usuario'].tiene_permiso("centro_show")%}
					<a href="{{ url_for('mostrar_centro', id=centro.id)}}" class="btn btn-info mb-2">Ver</a>
					{% endif %}
					{%if session['usuario'].tiene_permiso("centro_edit")%}
					<a href="{{ url_for('editar_centro', id=centro.id)}}" class="btn btn-info mb-2">Modificar</a>
					{% endif %}
					{%if session['usuario'].tiene_permiso("centro_delete")%}
					<a href="{{ url_for('borrar_centro', id=centro.id)}}" 
						class="btn btn-info mb-2"
                        title="Eliminar Centro de Ayuda"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este Centro de Ayuda?')">Eliminar
                    </a>
                    {% endif %}
                    <!-- Mod turnos - 06 February 2021 (Saturday)  -->
                    {%if ( ( session['usuario'].tiene_permiso("centro_edit") ) and ( centro.publicado == 1 ) )%}
                    <a href="{{ url_for('index_turno', id=centro.id)}}" class="btn btn-info mb-2">Turnos</a>
                    {% endif %}
                    <!-- /Mod turnos - 06 February 2021 (Saturday) -->
                    {%if session['usuario'].tiene_permiso("centro_edit")%}
                    {% if centro.estado.nombre == 'pendiente' %}
					<a href="{{ url_for('aprobar_centro', id=centro.id)}}" class="btn btn-info mb-2">Aprobar</a>
					<a href="{{ url_for('rechazar_centro', id=centro.id)}}" class="btn btn-info mb-2">Rechazar</a>
					{% elif centro.estado.nombre == 'aceptado' %}
						{% if centro.publicado == 0 %}
							<a href="{{ url_for('publicar_centro', id=centro.id)}}" class="btn btn-info mb-2">Publicar</a>
						{% else %}
							<a href="{{ url_for('despublicar_centro', id=centro.id)}}" class="btn btn-info mb-2">Despublicar</a>
						{% endif %}
					{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- PAGINACION -->
	<div class="text-center">
		<ul class="pagination">
			{% if lista_de_centros.has_prev %}
				<li class="page-item">
				    <a class="page-link" href="{{ url_for('centros', page=lista_de_centros.prev_num, nombre=nombre, estado=estado) }}">«</a>
				</li>
			{% else %}
				<li class="page-item disabled">
				    <a class="page-link">«</a>
				</li>
			{% endif %}
			<!-- all page numbers -->
			{% for page_num in lista_de_centros.iter_pages() %}
			    {% if page_num %}
			        {% if page_num != lista_de_centros.page %}
			        <li class="page-item">
			            <a class="page-link" href="{{ url_for('centros', page=page_num, nombre=nombre, estado=estado) }}">{{ page_num }}</a>
			        </li>
			        {% else %}
			        <li class="page-item active">
			            <a class="page-link" href="#">{{ page_num }}</a>
			        </li>
			        {% endif %}
				{% else %}
			    	<li class="page-item">
			        	<span class="page-link ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
			    	</li>
				{% endif %}
			{% endfor %}
			<!-- next page -->
			{% if lista_de_centros.has_next %}
				<li class="page-item">
				    <a class="page-link" href="{{ url_for('centros', page=lista_de_centros.next_num, nombre=nombre, estado=estado) }}">»</a>
				</li>
			{% else %}
				<li class="page-item disabled">
				    <a class="page-link">»</a>
				</li>
			{% endif %}
		</ul>
	</div>
		
	<!-- FIN PAGINACION -->

</div>

{% endblock %}

