{% extends "layout.html" %}
{% block content %}

<h1>Centros de ayuda</h1>

<div class="container">
	<form action="{{url_for('filtrar_centros')}}" method="POST">
		<!-- input nombre  -->
		<input type="text" placeholder="Buscar por nombre" id="nombre" name="nombre">
		<!-- select estado todos pendiente, aceptado, rechazado -->
		<select name="estado" id="estado">
			<option value="todos">Todos</option>
			<option value="pendiente">Pendientes</option>
			<option value="aceptado">Aceptados</option>
			<option value="rechazado">Rechazados</option>
		</select>
		<!-- boton de submit -->
		<input type="submit">
	</form>
	<table class="table table-striped table-bordered bg-white table-sm" >
		<thead>
			<tr>
				<td>Nombre</td>
				<td>Municipio</td>
				<td>Tags</td>
				<td>Email</td>
				<td>Estado</td>
			</tr>
		</thead>
		<tbody>
			{% for centro in lista_de_centros.items %}
			<tr>
				<td>
					{{centro.nombre}}
				</td>
				<td>
					{{centro.municipio.nombre}}
				</td>
				<td>
					{% for tag in centro.tipos_de_centro %}
					<ul>
						<li>{{tag.nombre}}</li>
					</ul>
					{% endfor %}
				</td>
				<td>
					{{centro.email}}
				</td>
				<td>
					{{centro.estado}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- PAGINACION -->
	{% if lista_de_centros.has_prev %}
	<li>
	    <a href="{{ url_for('centros', page=lista_de_centros.prev_num) }}">Previous</a>
	</li>
	{% endif %}
	<!-- all page numbers -->
	{% for page_num in lista_de_centros.iter_pages() %}
	    {% if page_num %}
	        {% if page_num != lista_de_centros.page %}
	            <li>
	                <a href="{{ url_for('centros', page=page_num) }}">{{ page_num }}</a>
	            </li>
	        {% else %}
	            <li class="active">
	                <a href="#">{{ page_num }}</a>
	            </li>
	        {% endif %}
	   {% else %}
	       <li>
	           <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
	       </li>
	   {% endif %}
	{% endfor %}
	<!-- next page -->
	{% if lista_de_centros.has_next %}
	<li>
	    <a href="{{ url_for('centros', page=lista_de_centros.next_num) }}">Next</a>
	</li>
	{% endif %}
	<!-- FIN PAGINACION -->

</div>

{% endblock %}

