{% extends "layout.html" %}
{% block content %}

{% if mensaje %}
<div class="alert alert-success" role="alert">
  	<ul>
    	<li>{{ mensaje }}</li>
  	</ul>
</div>
{% endif %}
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-md-6 text-center d-flex align-items-center">
			<div class="card-body">
				<h1 class="card-title mb-5">{{ configuracion.titulo }}</h1>
				<h5 class="card-text text-muted mb-5">{{ configuracion.descripcion }}</h5>
				<h5 class="card-text text-muted mb-5"> Escrbinos a {{ configuracion.mail }} </h5>
			</div>			
		</div>
		<div class="col-md-6">
			<img width="500" src="../static/images/img22.jpg">
		</div>
	</div>
</div>	
{% endblock %}