{% extends "layout.html" %}
{% block content %}

{% if mensaje %}
<div class="alert alert-success" role="alert">
  	<ul>
    	<li>{{ mensaje }}</li>
  	</ul>
</div>
{% endif %}
<div class="container">
	<h1> {{ configuracion.titulo }} </h1>
	<hr>
	<div class="row">
		<div class="col-4 p-5">
			<p> {{ configuracion.descripcion }} </p>
			<p> Escrbinos a {{ configuracion.mail }} </p>
		</div>
		<div class="col-4 p-5 m-5">
			<img width="500" src="../static/images/img22.jpg">
		</div>
	</div>
</div>
    <!--<h1> Informacion o fotos de Emergencias sanitarias</h1>-->



		
{% endblock %}