{% extends "layout.html" %}
{% block content %}

{% if mensaje %}
<div class="alert alert-success" role="alert">
  	<ul>
    	<li>{{ mensaje }}</li>
  	</ul>
</div>
{% endif %}
<div align="center">
<h1> Titulo: {{ configuracion.titulo }} </h1>
<h1> Descripcion: {{ configuracion.descripcion }} </h1>
</div>
    <!--<h1> Informacion o fotos de Emergencias sanitarias</h1>-->
<div align="center">
<img  src="../static/images/img22.jpg">
</div>
<div align="center">
<h1> mail de contacto: {{ configuracion.mail }} </h1>
</div>
		
{% endblock %}