<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link de BOOTSTRAP-->
  <link rel="stylesheet"href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
  <link rel="icon" type="image/png" href="../static/images/favicons.png">
  <title>Covid-19</title>
</head>
<body>
  {% include "navbar.html" %}
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar-->
  {% block content %}
  {% endblock %}
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar--> 
  {% include "footer.html" %}
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>