<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link de BOOTSTRAP-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../static/favicons.png">
  <title>Holaa</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" title="Logo" href="../templates/index.html"><img src="../static/logo_gba_emergencia.png" alt="Logo de GBA Emergencia" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="	navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('quienesomos')}}">QUIENE SOMOS</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('centros')}}">CENTROS DE AYUDA</a>
          </li>
        </ul>
    </div>
  </nav>
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar-->
  {% block content %}
  {% endblock %}
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar-->
</body>

</html>