<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link de BOOTSTRAP-->
  <link rel="stylesheet"href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
  <link rel="icon" type="image/png" href="../static/images/favicons.png">
  <title>Covid-19</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar navbar-dark">
    <a  title="Logo" href="/"><img class="gba-logo" src="../static/images/logo_gba_emergencia.png" alt="Logo de GBA Emergencia" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="	navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('quienesomos')}}">QUIENE SOMOS</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('centros')}}">CENTROS DE AYUDA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vista_configuracion')}}">Configuracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout')}}">cerrarsesion</a>
          </li>
        </ul>
    </div>
  </nav>
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar-->
  {% block content %}
  {% endblock %}
  <!--  empieza el codigo en phyton para empezar el bloque a mostrar--> 
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>