<div class="pb-3">
  <nav class="navbar site-header navbar-expand-lg navbar navbar-dark">
    <a  title="Logo" href="/"><img class="gba-logo" src="{{ url_for('static', filename='images/logo_gba_emergencia.png') }}" alt="Logo de GBA Emergencia" /></a>
    <div class=" collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <!-- Aca irian los botones de arriba -->
        </ul>
        <ul class="navbar-nav ml-auto">
          {%if session['usuario'] is not defined%}
          <li class="nav-item">
            <a class="nav-link text-center" href="{{ url_for('login')}}">INICIAR SESION</a>
          </li>
          {%else%}
          
<!-- BOTONES TEMPORALES -->



              {%if session['usuario'].tiene_permiso("site_config")%}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('vista_configuracion')}}">Configuración del sitio</a>
              </li>
              {%endif%}

              {%if session['usuario'].tiene_permiso("centro_index")%}
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('centros')}}">Centros de ayuda</a>
              </li>
              {%endif%}

              {%if session['usuario'].tiene_permiso("user_show")%}
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_usuario')}}">Manejo de usuarios</a>
              </li>
              {%endif%}

<!--Mod turnos 06 February 2021 (Saturday)
              {%if session['usuario'].tiene_permiso("turno_index")%}
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_turno')}}">Turnos</a>
              </li>
              {%endif%}
-->

              <li class="nav-item">
                <p class="nav-link">¡Bienvenido/a {{ session['usuario'].usuario }}!</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout')}}">Cerrar sesión</a> 
              </li>
<!-- FIN BOTONES TEMPORALES -->

<!-- HERMOSO DROPDOWN QUE SE BUGUEA ->
          <li class="nav-item dropdown">
            <a class="btn btn-outline-secondary nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ session['usuario'].usuario }}
            </a>
              

            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
              {%if session['usuario'].tiene_permiso("site_config")%}
              <a class="dropdown-item" href="{{ url_for('vista_configuracion')}}">Configuración del sitio</a>
              {%endif%}
              {%if session['usuario'].tiene_permiso("centro_index")%}
              <a class="dropdown-item" href="{{ url_for('centros')}}">Centros de ayuda</a>
              {%endif%}
              {%if session['usuario'].tiene_permiso("user_show")%}
              <a class="dropdown-item" href="{{ url_for('index_usuario')}}">Manejo de usuarios</a>
              {%endif%}
              {%if session['usuario'].tiene_permiso("turno_index")%}
              <a class="dropdown-item" href="{{ url_for('index_turno')}}">Turnos</a>
              {%endif%}
              <a class="dropdown-item" href="{{ url_for('logout')}}">Cerrar sesión</a>
            </div>
          </li>
<-- -->


          {%endif%}
        </ul>
    </div>
  </nav>
</div>